[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "xcompose"]
	path = xcompose
	url = https://github.com/kragen/xcompose.git
[submodule "polybar-themes"]
	path = polybar-themes
	url = https://github.com/adi1090x/polybar-themes.git
